@model IQueryable<Announcement>

@{
    int number = 1;
}

<!-- ---TEMPDATA ANNOUNCEMENT CONFIRMED--- -->
<div class="row mb-5">
    <div class="col-xs-12">
        @if (TempData["AnnouncementConfirmed"] != null)
        {
            <p class="text-success">Elan təsdiq olundu.</p>
        }
    </div>
</div>
<!-- +++TEMPDATA ANNOUNCEMENT CONFIRMED+++ -->

<div class="row">
    <div class="col-12 table-container-for-active-announcements">
        <h3 class="mb-3">Aktiv elanlar</h3>
        @if ((ViewBag.AllActiveAnnouncements / 10) > 0)
        {
            <table data-id="1" class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>№</th>
                        <th>Mülk</th>
                        <th>Sahə(sot, m²)</th>
                        <th>Otaq sayı</th>
                        <th>Qiymət(ay)</th>
                        <th>Qiymət(gün)</th>
                        <th>Tarix</th>
                        <th>Şəhər(rayon)</th>
                        <th>Əlaqədar şəxs</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var activeAnnouncement in Model)
                    {
                        <tr>
                            <td>@(number++)</td>
                            <td>@activeAnnouncement.Estate.EstateName</td>
                            <td>@(activeAnnouncement.Estate.EstateName != "Torpaq" ? activeAnnouncement.Area + " m²" : activeAnnouncement.Area.ToString().Substring(0, activeAnnouncement.Area.ToString().Length - 3) + " sot")</td>
                            <td>@(activeAnnouncement.Room != null ? activeAnnouncement.Room.RoomType : "-")</td>
                            <td>@(activeAnnouncement.Duration.DurationType == "Aylıq" ? activeAnnouncement.Price.ToString() + " AZN" : "-")</td>
                            <td>@(activeAnnouncement.Duration.DurationType == "Günlük" ? activeAnnouncement.Price.ToString() + " AZN" : "-")</td>
                            <td>@activeAnnouncement.PublishDate.Day  @activeAnnouncement.Month.MonthName @activeAnnouncement.PublishDate.Year</td>
                            <td>@activeAnnouncement.City.CityName</td>
                            <td>@activeAnnouncement.CustomUser.FirstName @activeAnnouncement.CustomUser.LastName</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <table data-id="1" class="table table-hover table-bordered active">
                <thead class="thead-dark">
                    <tr>
                        <th>№</th>
                        <th>Mülk</th>
                        <th>Sahə(sot, m²)</th>
                        <th>Otaq sayı</th>
                        <th>Qiymət(ay)</th>
                        <th>Qiymət(gün)</th>
                        <th>Tarix</th>
                        <th>Şəhər(rayon)</th>
                        <th>Əlaqədar şəxs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" style="text-align:center;font-size:30px;">Siyahı boşdur</td>
                    </tr>
                </tbody>
            </table>
            <input type="hidden" class="page-count" value="1" />
        }

        @if ((ViewBag.AllActiveAnnouncements / 10).ToString().Contains("."))
        {
            @if ((((((ViewBag.AllActiveAnnouncements / 10) - (Math.Round(ViewBag.AllActiveAnnouncements / 10))) * 10) <= 5) && ((((ViewBag.AllActiveAnnouncements / 10) - (Math.Round(ViewBag.AllActiveAnnouncements / 10))) * 10) > 0)))
            {
                <input type="hidden" class="page-count" value="@(Math.Round(ViewBag.AllActiveAnnouncements / 10) + 1)" />
            }
            else
            {
                <input type="hidden" class="page-count" value="@(Math.Round(ViewBag.AllActiveAnnouncements / 10))" />
            }
        }
        else
        {
            <input type="hidden" class="page-count" value="@(ViewBag.AllActiveAnnouncements / 10)" />
        }

    </div>
</div>
<div class="row my-5">
    <div class="col-12 pagination-container-for-active-announcements d-flex justify-content-center">
        <div class="pagination-container d-flex">
            <div class="prev-page d-flex justify-content-center align-items-center">Əvvəlki</div>
            <div class="pagination-window">
                <ul class="pagination-lent m-0 p-0 d-flex">
                </ul>
            </div>
            <div class="next-page d-flex justify-content-center align-items-center">Növbəti</div>
        </div>
    </div>
</div>


